* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: purple;
  color: white;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: auto;

  width: 100vw;
  height: 100vh;

  padding: 20px;

  background: purple;
  color: white;
}

.click {
  cursor: pointer;
}
